.nav-main
  //width  1200px;
  max-width 1000px;
  display flex;
  justify-content flex-end;
  align-items center
  .nav-item
    padding-left 20px
    padding-right 20px
    height 80px
    display flex
    align-items center
    justify-content center
    a
      color black
      font-size 16px
