#editorconfig是用于跨不同的编辑器和IDE为多个开发人员维护一致的编码风格的配置文件。editorconfig项目由定义编码样式的文件格式和一组文本编辑器插件组成，编辑器插件通过读取文件并以已定义的样式格式化指定文件。editorconfig文件具有友好的阅读性，且能与版本控制系统配合良好的特点
#webstorm 支持 .editorconfig文件
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
