/build/*
/out/*
/node_modules/*
/mock/*
/src/assets/*
/script/*
/public/*
/scripts/*
/resource/*
service-worker.js
setupProxy.js
config-overrides.js
commitlint.conifg.js
config-overrides.js
.prettierrc.js
.eslintrc.js
