.banner-rose
  width 100%
  background linear-gradient(to bottom right, #ca7497, #f1b8e4)
  height 600px
  display flex
  justify-content center
  align-items center
  .main-container
    max-width 1200px
    width 1200px
    display flex
    justify-content space-between
    align-items center
    .banner-img
      width 600px
      height 600px
    .banner-text
      height 400px
      display flex
      flex-direction column
      justify-content space-between
      .b-title
        color white
        font-size 48px
      .b-desc
        color white
        font-size 16px

@media (max-width: 500px)
  .banner-rose
    .main-container
      flex-direction column
      width 100%
      align-items center
      justify-content center
      .banner-text
        order 2
        height 200px
        width 80%
        align-items center
        .b-title
          color white
          font-size 24px
        .b-desc
          color white
          font-size 16px
      .banner-img
        order 1
        width 60%
        height auto

