.news-detail-container
  width 100%
  height 100%
  .news-detail-wrap
    .view-title
      height 40px
      line-height 40px
      margin-left 20px
      font-weight 500
    .content-wrap
      margin-left 20px
      margin-right 20px
      margin-bottom 40px
      .normal-cell
        flex-direction row
        display flex
        align-items center
        height 40px
        .cell-title
          color text-color-666
          white-space nowrap
          min-width 100px
          padding-right 10px
        .normal-input
          width 300px
        .normal-data-picker
          min-width 200px
        .normal-text
          color #333333
        .prompt-text
          color orange
        .normal-select
          width 300px
      .auto-cell
        flex-direction row
        margin-bottom 10px
        display flex
        .cell-title
          color text-color-666
          white-space nowrap
          min-width 100px
          padding-right 10px
          line-height 40px
          max-height 40px
        .normal-input
          width 300px
        .textarea
          min-height 80px
          margin-top 10px
        .thumb-img-wrap
          width 300px
          height 225px
          background-color #fafafa
          text-align center
          line-height 225px
          display block
        .uploader
          width 300px
          height 225px
          .ant-upload
            width 100%
            height 100%
        .editor-wrap
          min-width 600px
          margin-top 10px
          .editor-main
            .w-e-toolbar
              z-index 2!important
            .w-e-text-container
              z-index 1!important
        .tags-wrap
          width 600px
          flex-wrap wrap
          .key-tags
            min-width 80px
            padding-left 10px
            padding-right 10px
            margin-bottom 10px
            height 30px
            text-align center
            line-height 30px
            background-color #e8effe
            border-radius 2px
            color #4169e1
            border 1px solid #4169e1
          .key-search
            min-width 60px
            padding-left 10px
            padding-right 10px
            margin-bottom 10px
            height 30px
            text-align center
            line-height 30px
        .site-tag-input
          height 40px
          line-height 40px
          width 220px
        .site-tag-plus
          color #ffffff
          background-color #67c23a
          height 30px
          cursor pointer
          line-height 30px
          border none
