.banner-top
  width 100%
  background linear-gradient(to bottom right, #f55066, #dcff93)
  height 600px
  display flex
  justify-content center
  align-items center
  .main-container
    max-width 1200px
    width 1200px
    display flex
    justify-content space-between
    align-items center
    .banner-text
      height 400px
      .b-title
        color white
        font-size 48px
      .b-desc
        color white
        font-size 24px
@media (max-width: 500px)
  .banner-top
    .main-container
      flex-direction column
      .banner-text
        order 2
        align-items center
        height 200px
        margin-top 50px
        .b-title
          font-size 28px
        .b-desc
          font-size 16px
      img
        order 1
        width 60%
        height auto
        margin-bottom 50px
