.header-container
  background-color #ffffff!important
  border-bottom 1px solid #eeeeee!important
  .right-menu
    float right
    .dropdown-wrap
      cursor pointer
      display inline-block
      .ant-dropdown-menu-item
        padding 6px 20px 8px 15px
        i
          padding-right 15px
      .anticon-caret-down
        vertical-align bottom
        padding 0 0 12px 6px
      .icon-down
        margin-bottom 10px
    .username
      font-size 14px
      color rgba(0,0,0,0.45)
      margin-right 15px
