.banner-product
  width 100%
  background linear-gradient(to bottom right,#13c2c2, #fffff8)
  height 600px
  display flex
  justify-content center
  align-items center
  .main-container
    max-width 1200px
    width 1200px
    display flex
    justify-content space-between
    align-items center
    .banner-text
      height 400px
      display flex
      flex-direction column
      justify-content space-between
      .b-title
        color white
        font-size 48px
      .b-desc
        color white
        font-size 20px
    .banner-img
      width 600px
      height 600px

@media (max-width: 500px)
  .banner-product
    .main-container
      flex-direction column
      .banner-text
        order 2
        height 200px
        width 80%
        justify-content flex-start
        align-items center
        .b-title
          color white
          font-size 24px
          margin-bottom 30px
        .b-desc
          color white
          font-size 16px
      .banner-img
        order 1
        width 60%
        height auto
        margin-bottom 50px
