.banner-product
  width 100%
  background linear-gradient(to bottom right,#13c2c2, #fffff8)
  height 600px
  display flex
  justify-content center
  align-items center
  .main-container
    max-width 1200px
    width 1200px
    display flex
    justify-content space-between
    align-items center
    .banner-text
      height 400px
      .b-title
        color white
        font-size 48px
      .b-desc
        color white
        font-size 24px
