.index-banner-container
  width 100%
  height 100%
  .banner-title-wrap
    margin 20px
    min-height calc(100% - 40px)
    background-color white
    border-radius 2px
    overflow hidden
    box-shadow 0 2px 4px rgba(0,21,41,.08)
    .table-wrap
      margin 20px
      min-height 300px
      .index-img
        width 128px
        height 52px
    .button-wrap
      margin 20px
    .prompt-text
      color orange
