@import '~@common/common'
.resume-list-container
  width 100%
  height 100%
  .resume-search-wrap
    margin 20px
    min-height 200px
    background-color white
    border-radius 2px
    box-shadow 0 2px 4px rgba(0,21,41,.08)
    .search-title
      margin-top 20px
      height 30px
      line-height 30px
      padding-left 20px
      width 100px
      padding-right 20px
      font-weight 500
      border-radius 20px
      margin-left 20px
    .search-container
      flex-direction row
      display flex
      flex-wrap wrap
      .h-80
        height 80px
      .n-title
        white-space nowrap
        overflow hidden
        text-align center
        padding-right 10px
      .n-input
        max-width 200px
      .n-search
        width 200px
    .btns-container
      width 100%
      display flex
      justify-content flex-end
      flex-direction row
      height 60px
  .resume-table-wrap
    margin 20px
    min-height 400px
    background-color white
    border-radius 2px
    box-shadow 0 2px 4px rgba(0,21,41,.08)
    position relative
    .tabs-wrap
      padding 20px
      position relative
      .pagination-wrap
        height 100px
        width 100%
    .btn-wrap
      position absolute
      top 20px
      right 20px
.resume-list-normal-modal
  .normal-content
    padding-top 24px
    padding-left 24px
  .ant-modal-content
    .ant-modal-body
      padding 0
    .ant-modal-header
      border none
    .ant-modal-footer
      border none

