.footer-main
  height 400px;
  width 100%
  display flex
  justify-content center
  background-color #333333
  .footer-mess
    color white
    display flex
    flex-direction column
    justify-content center
    margin-right 150px
    .title
      font-size 24px
    .mess
      font-size 20px
      margin-top 10px
      margin-bottom 10px
  .footer-code
    display flex
    align-items center
    justify-content center
    margin-left 100px
    flex-direction column
    .code-img
      width 140px
      height 140px
    .code-text
      color white
      font-size 16px
      margin-top 20px

