.resource-column-container
  width 100%
  height 100%
.resource-column-modal
  .textarea-input
    min-height 100px
  .cover-upload-img
    width 153px
    height 102px
  .column-tag
    height 20px
    display inline-block
    padding-left 16px
    padding-right 16px
    text-align center
    background-color #e8effe
    border-radius 2px
    color #4169e1
    line-height 20px
