//h5 设置滚动失效之后不会到顶部
html,body
  height 100%
  overflow hidden
.main-app
  color white
.tab-container
  background-color orange
.main-container
  display flex
  justify-content center
  align-items center
