@import './flexbox.styl'
@import './variables.styl'

.mar-10
  margin 10px

.mar-t5
  margin-top 5px
.mar-t10
  margin-top 10px
.mar-t20
  margin-top 20px
.mar-t30
  margin-top 30px
.mar-t40
  margin-top 40px

.mar-b5
  margin-bottom 5px
.mar-b10
  margin-bottom 10px
.mar-b20
  margin-bottom 20px
.mar-b30
  margin-bottom 30px
.mar-b40
  margin-bottom 40px

.mar-l5
  margin-left 5px
.mar-l10
  margin-left 10px
.mar-l20
  margin-left 20px
.mar-l30
  margin-left 30px
.mar-l40
  margin-left 40px
.mar-l100
  margin-left 100px

.mar-r5
  margin-right 5px
.mar-r10
  margin-right 10px
.mar-r20
  margin-right 20px
.mar-r30
  margin-right 30px
.mar-r40
  margin-right 40px
.text-center
  text-align center

.btn-primary,.btn-primary:hover,.btn-primary:focus,.btn-primary:after
  color #fff!important
  background-color #4169E1!important
  border-color #4169E1!important
  box-shadow none!important
.btn-success,.btn-success:hover,.btn-success:after,.btn-success:focus
  color #fff!important
  background-color #67c23a!important
  border-color #67c23a!important
  box-shadow none!important
.btn-info,.btn-info:hover,.btn-info:after,.btn-info:focus
  color #fff!important
  background-color #909399!important
  border-color #909399!important
  box-shadow none!important
.btn-warning,.btn-warning:hover,.btn-warning:after,.btn-warning:focus
  color #fff!important
  background-color #e6a23c!important
  border-color #e6a23c!important
  box-shadow none!important
.btn-danger,.btn-danger:hover,.btn-danger:after,.btn-danger:focus
  color #fff!important
  background-color #f56c6c!important
  border-color #f56c6c!important
  box-shadow none!important
.btn-delete,.btn-delete:hover,.btn-delete:after,.btn-delete:focus
  color #fff!important
  background-color #f55066!important
  border-color #f55066!important
  box-shadow none!important
.btn-nature,.btn-nature:hover,.btn-nature:after,.btn-nature:focus
  color #fff!important
  background-color #b8f1ed!important
  border-color #b8f1ed!important
  box-shadow none!important
.btn-warm,.btn-warm:hover,.btn-warm:after,.btn-warm:focus
  color #fff!important
  background-color #ffe647!important
  border-color #ffe647!important
  box-shadow none!important
.btn-tag,.btn-tag:hover,.btn-tag:after,.btn-tag:focus
  color #fff!important
  background-color #f1b8f1!important
  border-color #f1b8f1!important
  box-shadow none!important
.online-text
  color #67c23a
.offline-text
  color red
.main-color
 color #4169E1

.modal-view-wrap
  .item-cell
    min-height 40px
    .prompt-text
      color orange
    .item-title
      min-width 80px
      max-height 60px
      line-height 40px
      color text-color-666
    .button-cell-input
      width 600px
    .input-input
      max-width 800px
    .w-400
      width 400px
    .w-200
      width 200px
    .w-600
      width 600px
    .item-img
      width 532px
      height 144px
    .item-img-h5
      height 194px
      width 144px
    .empty-img
      width 144px
      height 144px
      display flex
      justify-content center
      align-items center
      color text-color-666
      border 1px solid #d9d9d9
    .normal-select
      min-width 150px
    .img-uploader
      height 100%
      width 400px
      .ant-upload-select-picture-card
        min-height 144px
        min-width 144px
        width 144px
        flex-direction column
        display flex
        align-items center
        justify-content center
        height auto
        .h5-upload
          width 144px
          height 194px
          flex-direction column
          display flex
          align-items center
          justify-content center
    .remark-text
      color color-r2
      height 20px
      line-height 20px
    .item-desc
      min-height 40px
    .n-select
      min-width 120px
  .h-100
    height 100px
  .h-144
    height 144px
  .h-164
    height 164px
  .h-184
    height 184px
.add-modal-view-wrap
  .modal-cell
    min-height 40px
    width 100%
    margin-bottom 20px
    .textarea-input
      min-height 80px
    .normal-title
      white-space nowrap
      padding-right 10px
      line-height 40px
      min-width 70px
    .normal-input
      width 100%


