@import './flexbox.styl'
@import './variables.styl'

.mar-5
  margin 5px!important
.mar-10
  margin 10px!important
.mar-20
  margin 20px!important

.mar-t5
  margin-top 5px!important
.mar-t10
  margin-top 10px!important
.mar-t20
  margin-top 20px!important
.mar-t30
  margin-top 30px!important
.mar-t40
  margin-top 40px!important

.mar-b5
  margin-bottom 5px!important
.mar-b10
  margin-bottom 10px!important
.mar-b20
  margin-bottom 20px!important
.mar-b30
  margin-bottom 30px!important
.mar-b40
  margin-bottom 40px!important

.mar-l5
  margin-left 5px!important
.mar-l10
  margin-left 10px!important
.mar-l20
  margin-left 20px!important
.mar-l30
  margin-left 30px!important
.mar-l40
  margin-left 40px!important
.mar-l100
  margin-left 100px!important

.mar-r5
  margin-right 5px!important
.mar-r10
  margin-right 10px!important
.mar-r20
  margin-right 20px!important
.mar-r30
  margin-right 30px!important
.mar-r40
  margin-right 40px!important
.text-center
  text-align center!important

.btn-primary,.btn-primary:hover,.btn-primary:focus,.btn-primary:after
  color #fff!important
  background-color #4169E1!important
  border-color #4169E1!important
  box-shadow none!important
.btn-success,.btn-success:hover,.btn-success:after,.btn-success:focus
  color #fff!important
  background-color #67c23a!important
  border-color #67c23a!important
  box-shadow none!important
.btn-info,.btn-info:hover,.btn-info:after,.btn-info:focus
  color #fff!important
  background-color #909399!important
  border-color #909399!important
  box-shadow none!important
.btn-warning,.btn-warning:hover,.btn-warning:after,.btn-warning:focus
  color #fff!important
  background-color #e6a23c!important
  border-color #e6a23c!important
  box-shadow none!important
.btn-danger,.btn-danger:hover,.btn-danger:after,.btn-danger:focus
  color #fff!important
  background-color #f56c6c!important
  border-color #f56c6c!important
  box-shadow none!important
.btn-delete,.btn-delete:hover,.btn-delete:after,.btn-delete:focus
  color #fff!important
  background-color #f55066!important
  border-color #f55066!important
  box-shadow none!important
.btn-nature,.btn-nature:hover,.btn-nature:after,.btn-nature:focus
  color #fff!important
  background-color #b8f1ed!important
  border-color #b8f1ed!important
  box-shadow none!important
.btn-warm,.btn-warm:hover,.btn-warm:after,.btn-warm:focus
  color #fff!important
  background-color #ffe647!important
  border-color #ffe647!important
  box-shadow none!important
.btn-tag,.btn-tag:hover,.btn-tag:after,.btn-tag:focus
  color #fff!important
  background-color #f1b8f1!important
  border-color #f1b8f1!important
  box-shadow none!important
.btn-folk,.btn-folk:hover,.btn-folk:after,.btn-folk:focus
  color #fff!important
  background-color #ac5e74!important
  border-color #ac5e74!important
  box-shadow none!important
.btn-error,.btn-error:hover,.btn-error:after,.btn-error:focus
  color #fff!important
  background-color red!important
  border-color red!important
  box-shadow none!important
.btn-disabled,.btn-disabled:hover,.btn-disabled:after,.btn-disabled:focus
  color #999999!important
  background-color #eeeeee!important
  border-color #e3e3e3!important
  box-shadow none!important
.color-success
  color #67c23a
.color-red
  color red
.color-main
 color #4169E1
.color-light-grey
 color #898989
.color-gold
  color gold
.color-orange
  color orange

.w-200
  width 200px!important
.w-300
  width 300px!important
.w-400
  width 400px!important
.w-500
  width 500px!important
.w-600
  width 600px!important
.width100
  width 100%
.max-w-800
  min-width 800px!important

.h-40
  height 40px!important
.h-100
  height 100px!important
.h-120
  height 120px!important
.h-144
  height 144px!important
.h-164
  height 164px!important
.h-184
  height 184px!important
.h-200
  height 200px!important
.h-300
  height 300px!important
.min-h-200
  min-height 200px!important

.text-overflow-3
  text-overflow ellipsis!important
  overflow hidden!important
  line-clamp 3!important
  -webkit-box-orient vertical!important
  -webkit-line-clamp 3!important
  display -webkit-box!important
// 模块view
.module-view-wrap
  margin 20px
  min-height calc(100% - 40px)
  background-color white
  border-radius 4px
  overflow hidden
  box-shadow 0 2px 4px rgba(0,21,41,.08)
  position relative
  .search-title
    min-width 60px
    font-size 14px
  .search-input,.search-select
    min-width 234px
  .module-title
    color #4169E1
    font-size 14px
    font-weight bold
    line-height 32px
  .table-wrap
    margin 20px
    min-height 300px
    .thumb-img
      width 120px
      height 80px
    .cover-img
      width 80px
      height 80px
    .banner-img
      width 128px
      height 52px
    .button-wrap
      margin 20px
  .operate-view-wrap
    position absolute
    top 20px
    right 20px
  .condition-title
    line-height 32px
    height 32px
    font-size 14px

.module-search-view-wrap
  margin 20px
  min-height 100px
  background-color white
  border-radius 2px
  box-shadow 0 2px 4px rgba(0,21,41,.08)
  .search-title
    margin-top 20px
    height 30px
    line-height 30px
    padding-left 20px
    width 100px
    padding-right 20px
    font-weight 500
    border-radius 20px
    margin-left 20px
  .search-container
    flex-direction row
    display flex
    flex-wrap wrap
    .cell-title
      white-space nowrap
      overflow hidden
      text-align center
      padding-right 10px
    .search-input
      width 200px
    .search-select
      width 200px
  .button-view-wrap
    width 100%
    margin-top 10px
    display flex
    justify-content flex-end
    flex-direction row
    height 52px
// 弹窗
.modal-view-wrap
  .normal-cell
    width 100%
  .item-cell
    width 100%
    min-height 40px
    position relative
    .cover-img,.img-uploader
      width 102px
      height 102px
      display block
    .empty-img
      width 102px
      height 102px
      display block
      border 1px solid #eeeeee
      line-height 102px
      text-align center
    .cell-right
      width calc(100% - 80px)
    .item-title
      min-width 50px
      max-height 60px
      line-height 40px
      color text-color-666
    .item-title-top
      min-width 50px
      color text-color-666
    .item-desc
      min-height 40px
      max-width 100%
      position relative
      overflow hidden
      .desc
        max-width calc(100% - 140px)
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
    .normal-select
      min-width 150px
    .remark-text
      color color-r2
      height 28px
      line-height 28px
    .select-view
      min-width 120px
    .delete-wrap
      width 40px
      height 20px
      flex-direction row
      display flex
      align-items center
      justify-content center
      .delete-btn
        color #f56c6c
        cursor pointer
    .tag-fill
      background-color #4169E1
      color #ffffff
      padding-right 12px
      padding-left 12px
      height 20px
      border-radius 2px
    .tag-outline
      border 1px solid #4169E1
      color #4169E1
      padding-right 12px
      height 20px
      padding-left 12px
      border-radius 2px
  .roles-wrap
    .role-choose-cell
      height 60px
    .lines
      height 1px
      background-color #eeeeee
// 去掉antd modal 自带样式
.sample-view-modal
  .normal-content
    padding-top 24px
    padding-left 24px
  .ant-modal-content
    .ant-modal-body
      padding 0
    .ant-modal-header
      border none
    .ant-modal-footer
      border none

// 排序modal
.sort-module-view-wrap
  width 100%
  .sort-input
    text-align center
    width 100%
    padding-left 20px
    padding-right 20px


