@import './flexbox.styl'
@import './variables.styl'

.mar-10
  margin 10px

.mar-t5
  margin-top 5px
.mar-t10
  margin-top 10px
.mar-t20
  margin-top 20px
.mar-t30
  margin-top 30px
.mar-t40
  margin-top 40px

.mar-b5
  margin-bottom 5px
.mar-b10
  margin-bottom 10px
.mar-b20
  margin-bottom 20px
.mar-b30
  margin-bottom 30px
.mar-b40
  margin-bottom 40px

.mar-l5
  margin-left 5px
.mar-l10
  margin-left 10px
.mar-l20
  margin-left 20px
.mar-l30
  margin-left 30px
.mar-l40
  margin-left 40px
.mar-l100
  margin-left 100px

.mar-r5
  margin-right 5px
.mar-r10
  margin-right 10px
.mar-r20
  margin-right 20px
.mar-r30
  margin-right 30px
.mar-r40
  margin-right 40px
.text-center
  text-align center

.btn-primary,.btn-primary:hover,.btn-primary:focus,.btn-primary:after
  color #fff!important
  background-color #2466ff!important
  border-color #2466ff!important
  box-shadow none!important
.btn-success,.btn-success:hover,.btn-success:after,.btn-success:focus
  color #fff!important
  background-color #67c23a!important
  border-color #67c23a!important
  box-shadow none!important
.btn-info,.btn-info:hover,.btn-info:after,.btn-info:focus
  color #fff!important
  background-color #909399!important
  border-color #909399!important
  box-shadow none!important
.btn-warning,.btn-warning:hover,.btn-warning:after,.btn-warning:focus
  color #fff!important
  background-color #e6a23c!important
  border-color #e6a23c!important
  box-shadow none!important
.btn-danger,.btn-danger:hover,.btn-danger:after,.btn-danger:focus
  color #fff!important
  background-color #f56c6c!important
  border-color #f56c6c!important
  box-shadow none!important
.btn-delete,.btn-delete:hover,.btn-delete:after,.btn-delete:focus
  color #fff!important
  background-color #f55066!important
  border-color #f55066!important
  box-shadow none!important
.btn-nature,.btn-nature:hover,.btn-nature:after,.btn-nature:focus
  color #fff!important
  background-color #b8f1ed!important
  border-color #b8f1ed!important
  box-shadow none!important

